
.document-item{
    box-shadow: 4px 2px Gainsboro ;
    border: 1px solid #dacdcd;
    position: relative;
    width: 170px;
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 50px;
}
img{
    width: 200px;
    height: 300px;
    vertical-align: middle;
    border: 2px solid black;
    
      
}
.icon{
    cursor: pointer;
    width: 30px;
    height: 30px;
   margin-left: 20px;
   margin-top: 5px;
   margin-bottom: 10px;
}